[[source]]
url = "https://registry.saas.cagip.group.gca/artifactory/api/pypi/pypi-remote/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pandas = "*"
fastapi = "*"
joblib = "*"
pytest = "*"
httpx = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
